@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
html,
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  background: white;
}
video,
img {
  animation: filterAnimation 10s infinite alternate ease-in;
  width: 100%;
  filter: contrast(1.2);
  margin-bottom: -10px;
  opacity: 1;
  max-width: 550px;
  transition: opacity 1s ease 0s;
  display: block;
  margin: auto;
}

textarea:focus,
input:focus {
  outline: none;
}

#page-root {
  transition: transform 1s;
}

#cherry1,
#cherry2,
#cherry3,
#cherry4,
#cherry5,
#cherry6,
#cherry7 {
  opacity: 0;
}
